/* 注册 */
.regist{
    margin-top: 25px;
}
.regist>.w{
    background-color: white;
    border: 1px solid #cecece;
    border-radius: 5px;
}
.w>span{
    display: block;
    font-size: 16px;
    padding-left: 10px;
    border-left: 4px solid red;
    margin-top: 20px;
}
.form{
    margin-top: 45px;
    width: 540px;
    margin: 0px auto;
    padding-bottom: 150px;
}
.form>input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #f7f7f7;
    border: 1px solid #efefef;
    margin-top: 25px;
    padding-left: 15px;
}
.form>input:nth-of-type(2),
.form>input:nth-of-type(3){
    width: 245px;
}
.form>input:nth-of-type(7){
    background-color: red;
    color: white;
}
.form>img{
    margin-left: 25px;
}
.form>button{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    background-color: #f7f7f7;
    margin-left: 15px;
}